@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #e9effa;
    --branco: #e4e4e4;
    --laranja: #ebbc5ea9;
    --azul-degrade: linear-gradient(97.54deg, #002f5263 35.49%, #32658952 165.37%);
    --fonte-principal: "Poppins";
    --azul: #6b99bd;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #706868;
    --cinza-claro: #858585;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}